{% if greeting_list %}
    <ul>
    {% for greeting in greeting_list %}
        <li>
          {{ greeting.message }}
          <span><a href="{% url 'greetings:update' greeting.id %}">edit</a></span>
          <span><a href="{% url 'greetings:delete' greeting.id %}">delete</a></span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No greetings are available.</p>
{% endif %}
<img src= "http://img2.wikia.nocookie.net/__cb20120305025549/halo/images/1/1f/343_Guilty_Spark-transparent.png" width = "100" height = "150"> <br />
<a href="{% url 'greetings:create' %}">Create a New Greeting</a> <br />
<a href="{% url 'greetings:newpage' %}"> Please click here to look at my rules</a> <br />
<a href="http://img2.wikia.nocookie.net/__cb20140505220653/supermarioglitchy4/images/c/c7/Kirby_render_for_ssb.jpg">Click here to view a cute picture</a> <br />

